.logo {
  display: block;
  height: 2rem;
  width: auto;
  aspect-ratio: 145 / 44;
  color: var(--color-beldi);
}

.mark {
  display: block;
  height: 3rem;
  width: auto;
  aspect-ratio: 2 / 3;
}

:global(.on-dark) .logo {
  color: var(--on-dark);
}

:global(.on-dark) .logo,
:global(.on-dark) .mark {
  --logo-mark: var(--color-dhahab-light);
}
